html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template: 1fr auto / 0.5fr 2fr 0.7fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / span 3;
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    grid-column: 2 / span 3;
    display: grid;
    grid-template: 0.8fr 1fr / 2fr 0.7fr;
}

.main {
    grid-column: 2 / span 3;
    grid-row: 3;
    display: grid;
    grid-template: repeat(3, 1fr) / 3fr 1fr;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.projects-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
}

.search-container {
    grid-column: 1;
    display: flex;
    align-items: center;
}

.profile-container {
    grid-column: 2;
    display: flex;
    align-items: center;
}

.welcome-container {
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    display: grid;
    grid-template: 1fr 1fr / 0.09fr 1fr;
}

.btns-container {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.trending {
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 300px;
}

.trending-people {
    display: flex;
    align-items: center;
}

/* Prettying */
ul {
    padding: 0px;
}

.icons-dashboard {
    height: 20px;
    width: auto;
}

.sidebar {
    padding-left: 30px;
    padding-right: 10px;
}

.links > ul > li > img,
.search-container > img {
    height: 25px;
    width: auto;
}

.links > ul > li {
    display: flex;
    align-items: center;
}

.image-profile {
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.image-profile > img {
    object-fit: cover;
    object-position: center 16px;
    transform: scale(1.6);
}

.image-profile,
.image-profile > img {
    height: 60px;
    width: 60px;
}

.image-welcome {
    grid-column: 1;
    grid-row: span 2;
    transform: scale(1.4);
    align-self: center;
    margin-right: 15px;
}

.search-container input{
    border: 2px solid black;
    border-radius: 15px;
    width: 45vh;
    padding: 2px 10px;
    height: 22px;
}

.vertical {
    padding-left: 12px;
}

.desc {
    margin-top: 0px;
}

.user-tag {
    margin-bottom: 5px;
    margin-top: 5px;
}

.card {
    height: 170px;
    background-color: red;
    color: black;
    text-align: center;
    padding: 15px;
    margin-right: 20px;
    border-radius: 15px;
}

.trending {
    padding: 10px;
    padding-top: 0px;
    border: 2px solid grey;
    border-radius: 20px;
}

.announcements { 
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    height: 250px;
    width: 350px;
}

.anoun > h6,
.top-anoun > h6 {
    margin-bottom: 0px;
    font-size: 14.5px;;
}

.anoun > h6 {
    margin-top: 25px;
}

.top-anoun > p,
.anoun > p {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 13px;
}

.border {
    width: 100%;
    height: 1px;
    background-color: lightgray;
}

.top-anoun > h6 {
    margin-top: 0px;
}

.news > h2 {
    margin-bottom: 2px;
    margin-top: 10px;
}

.trending-people {
    margin-top: 10px;
}

.greeting {
    margin-bottom: 6px;
}

.name-and-tag {
    margin-top: 1px;
}

.profile-container > p {
    margin-left: 5px;
}

.profile-container {
    margin-left: 100px;
}

.btns-container > button {
    height: 2rem;
    width: 6rem;
    border-radius: 20px;
    border: orange;
    background: orange;
    color: white;
    font-size: 15px;
    font-weight: 700;
}
